<div class="panel panel-default">
    <div class="panel-body">
        <f:form name="filter" class="form-inline" action="list">
            <div>
                <div class="input-group">
                    <f:form.textfield
                            type="datetime"
                            property="timeFrom"
                            id="timeFrom"
                            class="form-control t3js-datetimepicker t3js-clearable"
                            placeholder="{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.timeFrom')}"
                            value="{filter.timeFrom}"
                            data="{date-type:'datetime',date-offset:'0'}" />
                    <label class="input-group-addon fa fa-calendar" for="timeFrom"></label>
                </div>

                <div class="input-group">
                    <f:form.textfield
                            type="datetime"
                            property="timeTo"
                            id="timeTo"
                            class="form-control t3js-datetimepicker t3js-clearable"
                            placeholder="{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.timeTo')}"
                            value="{filter.timeTo}"
                            data="{date-type:'datetime',date-offset:'0'}" />
                    <label class="input-group-addon fa fa-calendar" for="timeTo"></label>
                </div>

                <div class="form-group">
                    <f:form.submit
                            class="btn btn-primary"
                            value="{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.submit')}" />
                </div>
            </div>
        </f:form>
    </div>
</div>
