<fieldset>
    <div class="form-group">
        <label for="title" class="lb-lg">
            <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.workflow.field.title">title</f:translate>
        </label>
        <f:form.textfield class="form-control input-lg" property="title" id="title" placeholder="{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.workflow.field.title.placeholder')}" required="required" />
        <span class="help-block">
            <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.workflow.field.title.description">Example description</f:translate>
        </span>
    </div>

    <div class="form-group">
        <label for="description" class="lb-lg">
            <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.workflow.field.description">description</f:translate>
        </label>
        <f:form.textarea class="form-control input-lg" property="description" id="description" placeholder="{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.workflow.field.description.placeholder')}" style="height: 300px;"></f:form.textarea>
        <span class="help-block">
            <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.workflow.field.description.description">Example description</f:translate>
        </span>
    </div>

    <button class="btn btn-primary btn-lg pull-right" data-wizardform-gotostep="2">Weiter</button>
</fieldset>

<fieldset>
    <h2>
        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.workflow.field.addtrigger">add trigger</f:translate>
    </h2>
    <div class="row form-group">
        <div class="col-md-2">
            <f:form.select class="form-control input-lg" options="{AND:'AND',OR:'OR'}" name="conjunction" data="{lux-action-trigger:'conjunction'}" />
        </div>
        <div class="col-md-9">
            <f:form.select class="form-control input-lg" options="{triggers}" prependOptionValue="" prependOptionLabel="{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:pleaseChoose')}" name="addTrigger" data="{lux-action-trigger:'trigger'}" />
        </div>
        <div class="col-md-1">
            <button class="btn btn-primary btn-add-lg" data-lux-action-trigger="add">+</button>
        </div>
    </div>

    <hr />

    <div data-lux-container="triggerarea" data-lux-triggers="{workflow.triggers -> f:count()}" class="lux_triggerarea">
        <f:if condition="{action} == 'editAction'">
            <f:render partial="Workflow/Trigger" arguments="{_all}" />
        </f:if>
    </div>

    <div class="row form-group">
        <div class="col-md-12">
            <button class="btn btn-primary btn-lg" data-wizardform-gotostep="1">
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:back">back</f:translate>
            </button>
            <button class="btn btn-primary btn-lg pull-right" data-wizardform-gotostep="3">
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:next">next</f:translate>
            </button>
        </div>
    </div>
</fieldset>

<fieldset>
    <h2>
        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.workflow.field.addaction">add action</f:translate>
    </h2>
    <div class="row form-group">
        <div class="col-md-11">
            <f:form.select class="form-control input-lg" options="{actions}" prependOptionValue="" prependOptionLabel="{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:pleaseChoose')}" name="addAction" data="{lux-action-action:'action'}" />
        </div>
        <div class="col-md-1">
            <button class="btn btn-primary btn-add-lg" data-lux-action-action="add">+</button>
        </div>
    </div>

    <hr />

    <div data-lux-container="actionarea" data-lux-actions="{workflow.actions -> f:count()}" class="lux_actionarea">
        <f:if condition="{action} == 'editAction'">
            <f:render partial="Workflow/Action" arguments="{_all}" />
        </f:if>
    </div>

    <button class="btn btn-primary btn-lg" data-wizardform-gotostep="2">
        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:back">back</f:translate>
    </button>
    <f:form.submit class="btn btn-primary btn-lg pull-right" value="{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:save')}" />
</fieldset>
