<div class="wizard row">
    <a class="current">
        <div class="badge">
            <div class="border"></div>
            <div class="number">1.</div>
        </div>
        Title
    </a>
    <a>
        <div class="badge">
            <div class="border"></div>
            <div class="number">2.</div>
        </div>
        Trigger
    </a>
    <a>
        <div class="badge">
            <div class="border"></div>
            <div class="number">3.</div>
        </div>
        Action
    </a>
</div>
