<div class="wizard">
    <a class="current dummy" data-wizardform-gotostep="1">
        <div class="badge">
            <div class="border"></div>
            <div class="number">1</div>
        </div>
        Title
    </a>
    <a class="dummy" data-wizardform-gotostep="2">
        <div class="badge">
            <div class="border"></div>
            <div class="number">2</div>
        </div>
        Trigger
    </a>
    <a class="dummy" data-wizardform-gotostep="3">
        <div class="badge">
            <div class="border"></div>
            <div class="number">3</div>
        </div>
        Action
    </a>
</div>
