@import "Settings";
@import "Timeline";

.btn-primary {
  background-color: $colorMain;
  border-color: $colorMain;
  color: black;
  &:hover {
    background-color: $colorAlternative;
    border-color: $colorAlternative;
  }
}

a {
  color: $colorAlternative;
  cursor: pointer;
}
