@import "Settings";
@import "Timeline";
@import "Wizard";
@import "WizardForm";

/**
 * General backend classes
 */
a {
  color: $colorAlternative;
  cursor: pointer;
}

/**
 * Button classes
 */
.btn-lg-extra {
  padding: 30px 60px;
  font-size: 25px;
  line-height: 2;
  border-radius: 5px;
}

.btn-primary {
  background-color: $colorMain;
  border-color: $colorMain;
  color: $white;
  &:hover {
    background-color: $colorAlternative;
    border-color: $colorAlternative;
  }
}

.btn-primary-extra {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  left: 50%;
  top: 50%;
  margin-top: -100px;
  margin-left: -200px;
  position: fixed;
}

/**
 * Form classes
 */
.lb-lg {
  font-size: 20px;
}

.help-block {
  margin-top: 15px;
  margin-left: 15px;
}

/**
 * Table classes
 */
.table-hover > tbody > tr:hover,
.table-hover > tbody > tr.lux-action-detail {
  background-color: $colorMain;

  > td {
    color: $white;
  }
}

.table-pointer > tbody > tr {
  cursor: pointer;
}

.lux-textarea {
  width: 100%;
  padding: 10px;

  &__default {
    color: $colorGrey;
  }
}
