<f:layout name="Backend" />

<f:section name="content">
    <div class="row">
        <div class="col-md-6">
            <f:render partial="Analysis/Recurring" arguments="{_all}" />
            <f:render partial="Analysis/Identified" arguments="{_all}" />
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Last Leads</h3>
                        </div>
                        <div class="panel-body">
                            <div style="height: 258px;">
                                <ol>
                                    <li>Anonym Seite XY</li>
                                    <li>Anonym Seite XY</li>
                                    <li>Anonym Seite XY</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Best contacts</h3>
                        </div>
                        <div class="panel-body">
                            <div style="height: 258px;">
                                <ol>
                                    <li>Sandra Pohl</li>
                                    <li>Sandra Pohl</li>
                                    <li>Sandra Pohl</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <f:render partial="Analysis/Log" arguments="{_all}" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <f:render partial="Analysis/Map" arguments="{_all}" />
        </div>
    </div>
</f:section>
