<f:layout name="Backend" />

<f:section name="content">
    <div class="row">
        <div class="col-md-6">
            <f:render partial="Analysis/Recurring" arguments="{_all}" />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Identified Users</h3>
                </div>
                <div class="panel-body">
                    Identified/Unknown
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Last Leads</h3>
                        </div>
                        <div class="panel-body">
                            <ol>
                                <li>Anonym Seite XY</li>
                                <li>Anonym Seite XY</li>
                                <li>Anonym Seite XY</li>
                            </ol>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Best contacts</h3>
                        </div>
                        <div class="panel-body">
                            <ol>
                                <li>Sandra Pohl</li>
                                <li>Sandra Pohl</li>
                                <li>Sandra Pohl</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul>
                                <li>Lux hat was tolles gemacht</li>
                                <li>Lux hat was tolles gemacht</li>
                                <li>Lux hat was tolles gemacht</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Map</h3>
                </div>
                <div class="panel-body">
                    KARTE
                </div>
            </div>
        </div>
    </div>
</f:section>
