<f:Be.Container
		includeJsFiles="{0:'{f:uri.resource(path:\'JavaScripts/Vendor/Chart.min.js\')}'}"
		includeCssFiles="{0:'{f:uri.resource(path:\'Css/Modules.min.css\')}'}"
		pageTitle="lux">

	<div class="module">
		<div class="module-docheader">
			<div class="typo3-docheader-functions">
				<div class="module-docheader-bar module-docheader-bar-navigation">
					<div class="module-docheader-bar-column-left">
						<div class="btn-group" role="group">
							<f:debug>{action}</f:debug>
							<f:link.action action="dashboard" class="btn{lux:Be.GetClassNameOnAction(actionName:'dashboard')}">
								<f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.dashboard">dashboard</f:translate>
							</f:link.action>
							<f:link.action action="list" class="btn{lux:Be.GetClassNameOnAction(actionName:'list')}">
								<f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.list">Leads</f:translate>
							</f:link.action>
						</div>
					</div>
					<div class="module-docheader-bar-column-right">
						<f:be.pagePath />
					</div>
				</div>
			</div>
			<div class="module-docheader-bar module-docheader-bar-buttons">
				<div class="module-docheader-bar-column-left">
					&nbsp;
				</div>
				<div class="module-docheader-bar-column-right">
					<f:be.buttons.shortcut />
				</div>
			</div>
		</div>
		<div class="module-body lux-backend">
			<f:render section="content" />
		</div>
	</div>
</f:Be.Container>
