<f:spaceless>
    <f:comment>
        Available variables:
        {index} Index variable for fieldnames
        {triggerSettings.title} Trigger title from TypoScript
        {triggerSettings.description} Trigger description from TypoScript
        {triggerSettings.className} Trigger className from TypoScript
        {triggerSettings.templateFile} Trigger templateFile from TypoScript
        {triggerSettings.configuration.foo} Trigger configuration from TypoScript
    </f:comment>


    <div class="row form-group lux-trigger lux-trigger-conjunction{trigger.conjunction}">
        <div class="col-md-6">
            <label for="trigger_{index}_visit" class="lb-lg">
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:trigger.categoryscoring.scoring">
                    Minimum scoring is
                </f:translate>
            </label>
            <div class="input-group">
                <input type="range"
                       min="0"
                       max="200"
                       name="tx_lux_lux_luxworkflow[trigger][{index}][configuration][scoring]"
                       class="form-control"
                       onchange="document.getElementById('scoring_label_{index}').innerHTML = this.value;"
                       value="{configuration.scoring}"
                       style="appearance: none; -moz-appearance: none; -webkit-appearance: none;"
                       id="trigger_{index}_visit"/>
                <label class="input-group-addon">
                    <strong id="scoring_label_{index}">
                        <f:if condition="{configuration.scoring}"><f:then>{configuration.scoring}</f:then><f:else>100</f:else></f:if>
                    </strong>
                </label>
            </div>
        </div>
        <div class="col-md-6">
            <label for="trigger_{index}_category" class="lb-lg">
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:trigger.categoryscoring.category">category</f:translate>
            </label>
            <select name="tx_lux_lux_luxworkflow[trigger][{index}][configuration][category]" class="form-control" id="trigger_{index}_category">
                <option value="0">{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:pleaseChoose')}</option>
                <f:for each="{lux:workflow.getLuxCategories()}" as="category">
                    <option value="{category.uid}"{f:if(condition:'{configuration.category} == {category.uid}',then:' selected="selected"')}>{category.title}</option>
                </f:for>
            </select>
        </div>
    </div>

    <input type="hidden" name="tx_lux_lux_luxworkflow[trigger][{index}][className]" value="{triggerSettings.className}" />
    <input type="hidden" name="tx_lux_lux_luxworkflow[trigger][{index}][conjunction]" value="{trigger.conjunction}" />
</f:spaceless>
