<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.log">Log</f:translate>
        </h3>
    </div>
    <div class="panel-body">
        <f:if condition="{interestingLogs}">
            <f:then>
                <div style="height: 600px;">
                    <ul class="list-group">
                        <f:for each="{interestingLogs}" as="log">
                            <li class="list-group-item">
                                <span class="badge" title="{f:format.date(date:log.crdate,format:'{f:translate(key:\'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:date\')}')}">
                                    <lux:format.readableDate>{log.crdate}</lux:format.readableDate>
                                </span>
                                <f:render section="status{log.status}" optional="true" arguments="{_all}" />
                            </li>
                        </f:for>
                    </ul>
                </div>
            </f:then>
            <f:else>
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.novalues">No values to show</f:translate>
            </f:else>
        </f:if>
    </div>
</div>



<f:section name="status1">
    <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.log.status.1">New lead:</f:translate><br />
    <strong title="UID:{log.visitor.uid}"><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:anonym">Anonymous</f:translate></strong>
    <f:if condition="{visitor.location}">({log.visitor.location})</f:if>
</f:section>



<f:section name="status2">
    <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.log.status.2">Identified lead:</f:translate><br />
    <strong title="UID:{log.visitor.uid}">{log.visitor.fullName}</strong>
    <f:if condition="{visitor.location}">({log.visitor.location})</f:if>
</f:section>



<f:section name="status21">
    <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.log.status.21">Identified lead with "email4link"</f:translate><br />
    <strong title="UID:{log.visitor.uid}">{log.visitor.fullName}</strong>
    <f:if condition="{visitor.location}">({log.visitor.location})</f:if>
</f:section>



<f:section name="status22">
    <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.log.status.22">Send asset</f:translate><br />
    <a href="/{log.href}" target="_blank"><lux:format.getFilenameFromPathAndFilename pathAndFilename="{log.href}" /></a> ({log.visitor.fullName})
</f:section>



<f:section name="status23">
    <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.log.status.23">Send asset failed</f:translate><br />
    <a href="/{log.href}" target="_blank"><lux:format.getFilenameFromPathAndFilename pathAndFilename="{log.href}" /></a> ({log.visitor.fullName})
</f:section>
