{namespace lux=In2code\Lux\ViewHelpers}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Todo Latest page visits</h3>
    </div>
    <div class="panel-body">
        <f:if condition="{latestPagevisits}">
            <f:then>
                <div style="height: 258px;">
                    <ol class="list-group">
                        <f:for each="{latestPagevisits}" as="pagevisit">
                            <li class="list-group-item">
                                <span class="badge" title="{f:format.date(date:pagevisit.crdate,format:'{f:translate(key:\'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:date\')}')}">
                                    <lux:format.readableDate>{pagevisit.crdate}</lux:format.readableDate>
                                </span>
                                Page <strong title="UID{pagevisit.page.uid}">{pagevisit.page.title}</strong> visited from<br />
                                {pagevisit.visitor.fullName}
                            </li>
                        </f:for>
                    </ol>
                </div>
            </f:then>
            <f:else>
                TODO No pagevisits yet
            </f:else>
        </f:if>
    </div>
</div>
