<f:spaceless>
    <f:comment>
        Available variables:
        {index} Index variable for fieldnames
        {actionSettings.title} Action title from TypoScript
        {actionSettings.description} Action description from TypoScript
        {actionSettings.className} Action className from TypoScript
        {actionSettings.templateFile} Action templateFile from TypoScript
        {actionSettings.configuration.foo} Action configuration from TypoScript
    </f:comment>


    <div class="row form-group lux-action">
        <div class="col-md-2">
            <label for="trigger_{index}_recurring" class="lb-lg">
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:action.label.recurring">
                    Recurring/Single
                </f:translate>
            </label>
            <select name="tx_lux_lux_luxworkflow[actions][{index}][configuration][recurring]" class="form-control" id="trigger_{index}_recurring">
                <option value="single"{f:if(condition:'{configuration.recurring} == "single"',then:' selected="selected"')}>{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:action.label.recurring.single')}</option>
                <option value="recurring"{f:if(condition:'{configuration.recurring} == "recurring"',then:' selected="selected"')}>{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:action.label.recurring.recurring')}</option>
            </select>
        </div>
        <div class="col-md-10">
            <label for="trigger_{index}_uri" class="lb-lg">
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:action.redirect.label1">
                    URI
                </f:translate>
            </label>
            <input
                    type="text"
                    name="tx_lux_lux_luxworkflow[actions][{index}][configuration][uri]"
                    class="form-control"
                    id="trigger_{index}_uri"
                    placeholder="https://www.domain.org/page.html"
                    value="{configuration.uri}" />
        </div>
    </div>

    <input type="hidden" name="tx_lux_lux_luxworkflow[actions][{index}][className]" value="{actionSettings.className}" />
</f:spaceless>
