<f:if condition="{visitors}">
    <link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Css/PageOverview.min.css',extensionName:'lux')}" media="all">
    <h4 class="callout-title">
        <img src="{f:uri.resource(path:'Icons/lux.svg?hash=123',extensionName:'lux')}" height="30" />
        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:pageoverview">Last visitors</f:translate>
    </h4>

    <div class="callout-body">
        <ul class="list-group">

            <f:for each="{visitors}" as="visitor">
                <li class="list-group-item clearfix {f:if(condition:visitor.identified,then:' __list-group-item-info')}">
                    <f:alias map="{pagevisit:'{lux:page.getLastVisitedPage(visitor:visitor,pageIdentifier:pageIdentifier)}'}">
                        <span class="badge badge-primary badge-pill" title="{f:format.date(date:pagevisit.crdate,format:'{f:translate(key:\'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:date\')}')}">
                            <lux:format.readableDate>{pagevisit.crdate}</lux:format.readableDate>
                        </span>

                        <h4 class="list-group-item-heading">
                            <strong title="UID{visitor.uid} {visitor.company} {visitor.email}">{visitor.fullName}</strong>
                            <f:if condition="{visitor.location}">({visitor.location})</f:if>
                        </h4>

                        <nav class="timeline timeline--horizontal timeline__thin">
                            <div class="timeline__item" title="PID{pagevisit.previousPagevisit.page.uid}">{pagevisit.previousPagevisit.page.title}</div>
                            <div class="timeline__item" title="PID{pagevisit.page.uid}">{pagevisit.page.title}</div>
                            <div class="timeline__item" title="PID{pagevisit.nextPagevisit.page.uid}"">{pagevisit.nextPagevisit.page.title}</div>
                        </nav>
                    </f:alias>
                </li>
            </f:for>

        </ul>
    </div>
</f:if>
